<div ng-controller="adminController">
    <h3>Admin page</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="#" ui-sref="admin.create" class="btn btn-default">Create New Form</a>
                <br><br><strong>Existing Forms</strong>
                <div ng-repeat="(key, value) in forms">
                    <a href="#" ui-sref="admin.forms({formName : key})" class="link">
                        {{key}}
                    </a>

                </div>
            </div>
            <div class="col-md-8">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>